form {
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    background-color: white;
    border-radius: 20px;

    .form-group {
        padding-right: 0;
        border-radius: 20px;
        height: 100%;
        align-self: center;
        .default-btn {
            width: 100%;
            font-size: 22px;
            // text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;

            i {
                font-weight: bolder;

                padding-right: 5px;
            }
        }
        border-right: 1px solid #e1e1e1;
    }
}
.form-control {
    background-color: transparent;
    transition: var(--transition);

    font-size: var(--font-size);
    border: none;
    color: var(--black-color);
    line-height: initial;
    padding: 15px 18px;
    border-radius: 5px;
    box-shadow: unset;
    height: 55px;

    &::placeholder {
        color: var(--paragraph-color);
    }
    &:focus {
        border-color: var(--main-color);

        &::placeholder {
            color: transparent;
            transition: var(--transition);
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
    }
    form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // max-width: 400px;

        .form-group {
            width: 100%;
            border: 1px solid #e1e1e1;
            margin: 1rem 0;
            border-radius: 0px;
            // margin: 0.5rem;
            .form-control {
                padding: 10px;
                // border-radius: 0px;
            }
            .form-control,
            &:last-child {
                border: none;
                width: 50%;
                i {
                    font-size: 16px !important;
                }
                span {
                    font-size: 16px !important;
                }
            }
        }
    }
}
