<div class="container">
    <form class="row" [formGroup]="searchForm">
        <div class="form-group col-4 p-2">
            <label>{{ lang === "ltr" ? "  Specialty " : " التخصص " }}</label>
            <input
                type="text"
                class="form-control"
                [placeholder]="lang === 'ltr' ? 'Specialty' : 'التخصص'"
                list="list-specialty"
            />
            <datalist id="list-specialty">
                <option>
                    {{ lang === "ltr" ? "  Surgery " : " جراحة " }}
                </option>
                <option>
                    {{ lang === "ltr" ? "  Urology " : " المسالك البوليه" }}
                </option>
                <option>
                    {{
                        lang === "ltr"
                            ? " Anesthesia, obstetrics and gynecology"
                            : " التخدير أمراض النساء و الولادة "
                    }}
                </option>
                <option>
                    {{
                        lang === "ltr"
                            ? "  cardiology "
                            : " جراحة القلب و القسطرة طب القلب العامة  "
                    }}
                </option>
            </datalist>
        </div>
        <div class="form-group col-4 p-2">
            <label>{{ lang === "ltr" ? "  Doctor " : " دكتور " }}</label>
            <input
                type="text"
                class="form-control"
                [placeholder]="lang === 'ltr' ? 'Doctors' : 'الدكتور'"
                list="list-doctors"
            />
            <datalist id="list-doctors">
                <option>
                    <i class="flaticon-149-doctor-2"></i>
                    {{
                        lang === "ltr" ? "  Maged El Wakeel " : " ماجد الوكيل "
                    }}
                </option>
                <option>
                    <i class="flaticon-149-doctor-2"></i>
                    {{ lang === "ltr" ? "  Sally Mohamed " : " سالي محمد " }}
                </option>
                <option>
                    <i class="flaticon-149-doctor-2"></i>
                    {{ lang === "ltr" ? "  Amira Elsaid " : " أميرة السيد " }}
                </option>
                <option>
                    <i class="flaticon-149-doctor-2"></i>
                    {{
                        lang === "ltr"
                            ? "  Muhammed Elmessry "
                            : " محمد الميسيري "
                    }}
                </option>
            </datalist>
        </div>
        <div class="form-group col-4">
            <a routerLink="/book-doctor" class="default-btn">
                <i class="bx bx-search"></i>
                <span> {{ lang === "ltr" ? "  Search " : " أبحث " }} </span>
            </a>
        </div>
    </form>
</div>
