<div class="container">
    <form class="row" [formGroup]="searchForm">
        <div class="form-group col-4 p-2">
            <label>{{ lang === "ltr" ? "  Specialty " : " التخصص " }}</label>
            <select
                formControlName="specialty"
                aria-placeholder="Select Specialty"
            >
                <option value="" selected>
                    {{
                        lang === "ltr" ? "  Select Specialty " : " أختار التخصص"
                    }}
                </option>
                <option value="male">
                    {{ lang === "ltr" ? "  Surgery " : " الجراحه " }}
                </option>
                <option value="female">
                    {{
                        lang === "ltr" ? " Urology " : " جراحة المسالك البولية "
                    }}
                </option>
            </select>
        </div>
        <div class="form-group col-4 p-2">
            <label>{{ lang === "ltr" ? "  Doctor " : " دكتور " }}</label>
            <select formControlName="doctor" aria-placeholder="Select Doctor">
                <option value="" selected>
                    {{ lang === "ltr" ? "  Select Doctor " : " أختر الدكتور " }}
                </option>
                <option value="male">
                    {{ lang === "ltr" ? "  Marwan " : " مروان " }}
                </option>
                <option value="female">
                    {{ lang === "ltr" ? "  Ibrahem " : " ابراهيم " }}
                </option>
            </select>
        </div>
        <div class="form-group col-4">
            <a routerLink="/book-doctor" class="default-btn">
                <i class="bx bx-search"></i>
                <span> {{ lang === "ltr" ? "  Search " : " أبحث " }} </span>
            </a>
        </div>
    </form>
</div>
