<!-- Page Banner -->
<div
    [dir]="lang"
    [style]="
        lang === 'ltr'
            ? ' background-image: url(https://angular.hibotheme.com/inba/assets/images/page-title/page-title1.jpg);'
            : ' background-image: url(https://angular.hibotheme.com/inba/inba-rtl/assets/images/page-title/page-title1.jpg);'
    "
    [ngClass]="
        lang === 'ltr'
            ? 'page-banner-area ptb-100 four'
            : 'page-banner-area-rtl ptb-100 four'
    "
>
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr'
                    ? 'page-banner-content'
                    : 'page-banner-content-rtl text-end'
            "
        >
            <h2>
                {{ lang === "ltr" ? "Departments Details" : "تفاصيل القسم" }}
            </h2>
            <ul class="pages-list">
                <li>
                    <a href="index.html">
                        {{ lang === "ltr" ? "Home" : "الرئيسية" }}
                    </a>
                </li>
                <li>
                    {{
                        lang === "ltr" ? "Departments Details" : "تفاصيل القسم"
                    }}
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Service Details -->
<div
    [dir]="lang"
    [ngClass]="
        lang === 'ltr'
            ? 'service-details-area-ltr ptb-100'
            : 'service-details-area-rtl ptb-100 '
    "
>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="service-details-image">
                    <img [src]="services?.image" alt="image" />
                </div>
                <div class="service-details-content">
                    <h3>
                        {{ services?.name }}
                    </h3>
                    <p>
                        {{ services?.description }}
                    </p>
                </div>
                <!-- <div class="row"> -->
                <ul class="row service-details-list">
                    <li
                        *ngFor="let item of services?.service_group"
                        class="col-3 col-md-6"
                    >
                        <i class="flaticon-163-draw-check-mark"></i>
                        {{ item.name }}
                    </li>
                </ul>
                <!-- </div> -->
                <p>
                    {{ services?.description2 }}
                </p>
            </div>
        </div>
    </div>
</div>
