<div class="covid-registration-area ptb-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-md-12">
                <form [formGroup]="hiringForm" class="covid-registration-form">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-sm-6">
                            <div class="form-group">
                                <label
                                    >{{
                                        lang == "ltr"
                                            ? "Full Name"
                                            : "الأسم بالكامل"
                                    }}
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    [placeholder]="
                                        lang == 'ltr'
                                            ? 'Full Name'
                                            : 'الأسم بالكامل'
                                    "
                                    formControlName="name"
                                />
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-6">
                            <div class="form-group">
                                <label>{{
                                    lang == "ltr"
                                        ? "Your Email"
                                        : "بريدك الألكنرونى"
                                }}</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    [placeholder]="
                                        lang == 'ltr'
                                            ? 'Your Email'
                                            : 'بريدك الألكنرونى'
                                    "
                                    formControlName="email"
                                />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div
                                class="row justify-content-center align-items-end"
                            >
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>{{
                                            lang == "ltr"
                                                ? "Phone Number"
                                                : "رقم الهاتف"
                                        }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="phone"
                                            [placeholder]="
                                                lang == 'ltr'
                                                    ? 'Phone Number'
                                                    : 'رقم الهاتف'
                                            "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="row justify-content-center">
                                <label>{{
                                    lang == "ltr"
                                        ? "Job Title"
                                        : "المسمى الوظيفي"
                                }}</label>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <select
                                            class="h-100"
                                            formControlName="job"
                                        >
                                            <option value="">
                                                {{
                                                    lang == "ltr"
                                                        ? "Job Title"
                                                        : "المسمى الوظيفي"
                                                }}
                                            </option>
                                            <option value="Full Time">
                                                {{
                                                    lang == "ltr"
                                                        ? "Full Time"
                                                        : "دوام كامل"
                                                }}
                                            </option>
                                            <option value="Internship">
                                                {{
                                                    lang == "ltr"
                                                        ? "Internship"
                                                        : "تدريب"
                                                }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div
                                class="row justify-content-center align-items-end"
                            >
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <app-file-upload
                                            formControlName="cv"
                                        ></app-file-upload>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <button
                                type="submit"
                                (click)="onSubmit()"
                                class="default-btn"
                            >
                                {{ lang == "ltr" ? "Submit Now" : "قدم الأن" }}
                            </button>
                            <!-- <alert [type]="alertStatus" *ngIf="alert">
                                <strong>Alert !</strong>{{ alert }}
                            </alert> -->
                        </div>
                        <!-- <div class="bottom-title">
                            <span
                                >Already Registered?
                                <a routerLink="/">Check Your Status</a></span
                            >
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="covid-registration-image">
                    <div class="content">
                        <span>
                            {{ lang == "ltr" ? "Join Us" : " انصم الينا" }}
                        </span>
                        <h3>
                            {{
                                lang == "ltr"
                                    ? "Submit Now And Get Your Opportunity"
                                    : " قدم الأن وأحصل على فرصتك"
                            }}
                        </h3>
                    </div>
                    <img src="assets/images/footer-logo.png" alt="image" />
                </div>
            </div>
        </div>
    </div>
    <div class="covid-registration-shape">
        <img src="assets/images/covid/registration/shape.png" alt="image" />
    </div>
</div>
