<!-- Default Features Section -->
<div
    [dir]="lang"
    class="core-features-area pt-100 pb-75 bg-eef9ff"
    [ngClass]="{
        'd-none':
            router.url === '/index-2' ||
            router.url === '/index-4' ||
            router.url === '/index-5' ||
            router.url === '/index-6' ||
            router.url === '/index-7' ||
            router.url === '/appointment' ||
            router.url === '/about-us' ||
            router.url === '/about-us-2' ||
            router.url === '/about-us-3'
    }"
>
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr' ? 'section-title-warp' : 'section-title-warp-rtl'
            "
        >
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Specialty and Our Features
            </span>
            <h2>Features That You Will Love Us</h2>
            <a routerLink="/services" class="default-btn">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-157-caduceus"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details"> Quality Brackets </a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-158-policy"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Certified Dentists
                        </a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-160-diamond-1"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details"> Experience </a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-161-hospitalisation"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details"> Patient Care </a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
