<div class="hospital-information-area pt-100 pb-75" [dir]="lang">
    <div class="container">
        <div class="row justify-content-center flex-lg-column">
            <div class="col-lg-12 col-md-6 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'hospital-information-card h-100'
                            : 'hospital-information-card-rtl h-100'
                    "
                >
                    <div class="content">
                        <div class="icon">
                            <i class="bx bx-map"></i>
                        </div>
                        <h3>
                            {{
                                lang === "ltr"
                                    ? "Office Address"
                                    : "عنوان المستشفى"
                            }}
                        </h3>
                        <p>
                            <a [href]="setting?.location">
                                {{ setting?.address }}
                            </a>
                        </p>
                    </div>
                    <div class="shape">
                        <img
                            src="assets/images/hospital/info-shape.png"
                            alt="image"
                        />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'hospital-information-card'
                            : 'hospital-information-card-rtl'
                    "
                >
                    <div class="content">
                        <div class="icon">
                            <i class="bx bx-envelope"></i>
                        </div>
                        <h3>
                            {{
                                lang === "ltr"
                                    ? "Email Us"
                                    : "بريدنا الالكترونى"
                            }}
                        </h3>
                        <p>
                            <a [href]="'mailto:' + setting?.email"
                                >{{ setting?.email }}
                            </a>
                        </p>
                    </div>
                    <div class="shape">
                        <img
                            src="assets/images/hospital/info-shape.png"
                            alt="image"
                        />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'hospital-information-card'
                            : 'hospital-information-card-rtl'
                    "
                >
                    <div class="content">
                        <div class="icon">
                            <i class="bx bx-phone-call"></i>
                        </div>
                        <h3>
                            {{
                                lang === "ltr"
                                    ? "Contact Us Free"
                                    : "تواصل معنا مجانا"
                            }}
                        </h3>
                        <p>
                            <a [href]="'tel:' + setting?.phone">{{
                                setting?.phone
                            }}</a>
                        </p>
                    </div>
                    <div class="shape">
                        <img
                            src="assets/images/hospital/info-shape.png"
                            alt="image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
