<div
    [dir]="lang"
    class="top-header-area"
    [ngClass]="lang === 'ltr' ? 'ltr' : 'rtl'"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7 col-md-12">
                <ul class="top-header-information">
                    <li>
                        <i class="bx bxs-phone"></i>
                        <span
                            ><a href="tel:19647">{{
                                lang === "ltr" ? "19647" : "١٩٦٤٧ "
                            }}</a></span
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.facebook.com/RouvanhospitalEg"
                            target="_blank"
                        >
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="https://twitter.com/?lang=en" target="_blank">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a
                            href="https://www.linkedin.com/company/rouvanhospital/"
                            target="_blank"
                        >
                            <i class="bx bxl-linkedin"></i>
                        </a>
                        <a
                            href="https://www.instagram.com/rouvanhospitaleg?fbclid=IwAR2DsgO2feehTPFmKFU-ZhIepmYdWQoyJBjum6IZvD8HQyynGVToyz1TsCY"
                            target="_blank"
                        >
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-12">
                <ul class="top-header-optional">
                    <li class="languages-list">
                        <select
                            [(ngModel)]="lang"
                            (change)="setLanguage()"
                            aria-placeholder="Language"
                        >
                            <option value="ltr" selected>English</option>
                            <option value="rtl">العربيّة</option>
                        </select>
                    </li>
                    <li>
                        <div *ngIf="!user">
                            <a class="auth" routerLink="/login">
                                {{
                                    lang === "ltr" ? "Login" : "تسجيل الدخول "
                                }}</a
                            >
                            <a class="auth" routerLink="/register">{{
                                lang === "ltr" ? "Register" : "  "
                            }}</a>
                        </div>

                        <a class="pointer" (click)="logout()" *ngIf="user">
                            <i class="bx bxs-log-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Top Header for Home Demo - 8
<div class="hospital-top-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <ul class="top-optional-wrap">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://twitter.com/?lang=en"
                                target="_blank"
                            >
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://www.instagram.com/"
                                target="_blank"
                            >
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-12">
                    <ul class="top-information-wrap">
                        <li>
                            <i class="bx bxs-phone"></i>
                            <a href="tel:01887689870859"
                                >(+0188) 768 987 0859</a
                            >
                        </li>
                        <li class="languages-list">
                            <select>
                                <option value="1">English</option>
                                <option value="2">العربيّة</option>
                            </select>
                        </li>
                        <li>
                            <div *ngIf="!user">
                                <a class="me-2" routerLink="/login">Login</a>
                                <a routerLink="/register">Register</a>
                            </div>

                            <a class="user" (click)="logout()" *ngIf="user">
                                <i class="bx bxs-user"></i>
                                <i class="bx bxs-log-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
