@import "../../common/services/services.component.scss";
.page-banner-content-rtl {
    h2 {
        color: var(--white-color);
    }
    .pages-list {
        padding-left: 0px;
    }
    li {
        color: var(--white-color);

        a {
            color: var(--white-color);
            &:hover {
                color: var(--main-color2);
            }
        }
        &::before {
            color: var(--white-color);
        }
    }
}
.single-services-box {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    img {
        // color: white;
        background-color: white;
        width: -webkit-fill-available;
    }

    p {
        height: 200px;
        margin-bottom: 10px;
    }
    .overFlow {
        overflow: hidden;
    }
    span {
        align-self: flex-end;
        margin-bottom: 0.9rem;
        margin-left: 3px;
    }
}
