<div [dir]="lang" class="appointment-overview-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="appointment-overview-contact">
                    <img
                        src="https://angular.hibotheme.com/inba/inba-rtl/assets/images/appointment/appointment-1.jpg"
                        alt="appointment-image"
                    />
                    <div class="appointment-info">
                        <div class="call-info">
                            <i class="flaticon-039-emergency-call"></i>
                            {{ lang === "ltr" ? "Call Today" : "اتصل اليوم" }}
                            <span>
                                <a href="tel:19647">
                                    {{ lang === "ltr" ? "+19647" : "١٩٦٤٧+ " }}
                                </a>
                            </span>
                        </div>
                        <p>
                            {{
                                lang === "ltr"
                                    ? "Call Us AnyTime Between 10 am and 10pm "
                                    : "اتصل بنا فى أى وقت بين ١٠ صباحا و ١٠ مساءا"
                            }}
                        </p>
                        <a routerLink="/contact-us" class="default-btn">
                            {{ lang === "ltr" ? "Contact Us" : " تواصل معنا " }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="appointment-overview-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="make-appointment-content">
                                <h4>
                                    <i class="flaticon-170-calendar-1"></i>

                                    {{
                                        lang === "ltr"
                                            ? " Make An Appointment"
                                            : " إحجز موعد"
                                    }}
                                </h4>

                                <form [formGroup]="searchForm">
                                    <div class="form-group">
                                        <label>{{
                                            lang === "ltr"
                                                ? "  Specialty "
                                                : " التخصص "
                                        }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Specialty"
                                            list="list-specialty"
                                        />
                                        <datalist id="list-specialty">
                                            <option>
                                                {{
                                                    lang === "ltr"
                                                        ? "  Surgery "
                                                        : " جراحة "
                                                }}
                                            </option>
                                            <option>
                                                {{
                                                    lang === "ltr"
                                                        ? "  Urology "
                                                        : " المسالك البوليه"
                                                }}
                                            </option>
                                            <option>
                                                {{
                                                    lang === "ltr"
                                                        ? " Anesthesia, obstetrics and gynecology"
                                                        : " التخدير أمراض النساء و الولادة "
                                                }}
                                            </option>
                                            <option>
                                                {{
                                                    lang === "ltr"
                                                        ? "  cardiology "
                                                        : " جراحة القلب و القسطرة طب القلب العامة  "
                                                }}
                                            </option>
                                        </datalist>
                                    </div>
                                    <div class="form-group">
                                        <label>{{
                                            lang === "ltr"
                                                ? "  Doctor "
                                                : " دكتور "
                                        }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Doctors"
                                            list="list-doctors"
                                        />
                                        <datalist id="list-doctors">
                                            <option>
                                                {{
                                                    lang === "ltr"
                                                        ? "  Maged El Wakeel "
                                                        : " ماجد الوكيل "
                                                }}
                                            </option>
                                            <option>
                                                {{
                                                    lang === "ltr"
                                                        ? "  Sally Mohamed "
                                                        : " سالي محمد "
                                                }}
                                            </option>
                                            <option>
                                                {{
                                                    lang === "ltr"
                                                        ? "  Amira Elsaid "
                                                        : " أميرة السيد "
                                                }}
                                            </option>
                                            <option>
                                                {{
                                                    lang === "ltr"
                                                        ? "  Muhammed Elmessry "
                                                        : " محمد الميسيري "
                                                }}
                                            </option>
                                        </datalist>
                                    </div>
                                    <a
                                        routerLink="/book-doctor"
                                        type="button"
                                        class="default-btn"
                                    >
                                        <i class="bx bx-search"></i>
                                        <span>
                                            {{
                                                lang === "ltr"
                                                    ? "  Search "
                                                    : " أبحث "
                                            }}
                                        </span>
                                    </a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content">
                                <h4>
                                    {{
                                        lang === "ltr"
                                            ? " We Are a Certified and Award-winning Hospital "
                                            : " نحن مستشفى معتمد وحائز على جوائز "
                                    }}
                                </h4>
                                <div class="box-image">
                                    <img
                                        src="https://angular.hibotheme.com/inba/inba-rtl/assets/images/appointment/appointment-2.jpg"
                                        alt="appointment-image"
                                    />
                                    <button
                                        class="video-btn"
                                        (click)="openPopup()"
                                    >
                                        <i class="bx bx-play"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Appointment Section for Home Demo - 8 -->
<!-- <div
    class="hospital-appointment-area ptb-100 mb-3"
    style="background-image: url(assets/images/hospital/appointment-bg.jpg)"
>
    <div class="container">
        <div class="section-title with-hospital-color">
            <span class="sub-title">Appointment</span>
            <h2>Request An Appointment</h2>
        </div>
        <div class="hospital-appointment-form">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Name"
                        />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Email"
                        />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Phone"
                        />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <select>
                            <option value="1">Select Service</option>
                            <option value="2">Prosthodontics Dentist</option>
                            <option value="3">Aesthetic Dentistry</option>
                            <option value="4">Gastroenterologists</option>
                            <option value="5">Endocrinologists</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <select>
                            <option value="1">Select Department</option>
                            <option value="2">Prosthodontics Dentist</option>
                            <option value="3">Aesthetic Dentistry</option>
                            <option value="4">Gastroenterologists</option>
                            <option value="5">Endocrinologists</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <select>
                            <option value="1">Doctor Name</option>
                            <option value="2">Addison Smith</option>
                            <option value="3">Liam Mason</option>
                            <option value="4">Aiken Ward</option>
                            <option value="5">Ena Dicrosa</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Date"
                            bsDatepicker
                        />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <select>
                            <option value="1">Select Time</option>
                            <option value="2">8:00 - 22:00</option>
                            <option value="3">8:00 - 22:00</option>
                            <option value="4">8:00 - 22:00</option>
                            <option value="5">8:00 - 22:00</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <button type="submit" class="default-btn">
                        Submit Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Video Popup -->
<div class="video-popup" *ngIf="isOpen">
    <div class="popup-inner">
        <iframe
            src="https://www.youtube.com/embed/XNQk1qt__Vw"
            title="Setup and Local Installation - React Nextjs Online Yoga Coaching &amp; Training Courses System"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
        ></iframe>
        <button (click)="closePopup()" type="button" class="close-btn">
            <i class="bx bx-x"></i>
        </button>
    </div>
</div>
