<div [dir]="lang" class="appointment-overview-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="appointment-overview-contact">
                    <img
                        src="https://angular.hibotheme.com/inba/inba-rtl/assets/images/appointment/appointment-1.jpg"
                        alt="appointment-image"
                    />
                    <div class="appointment-info">
                        <div class="call-info">
                            <i class="flaticon-039-emergency-call"></i>
                            {{ lang === "ltr" ? "Call Today" : "اتصل اليوم" }}
                            <span>
                                <a [href]="'tel:' + setting?.phone">{{
                                    setting?.phone
                                }}</a>
                            </span>
                        </div>
                        <p>
                            <strong>
                                {{
                                    lang == "ltr"
                                        ? "Book Your Appointment Now in Rouvan Clinics"
                                        : "احجز موعدك الآن في عيادات روڤان"
                                }} </strong
                            ><br />

                            {{
                                lang == "ltr"
                                    ? "Quick Reservation ."
                                    : "الحجز السريع."
                            }}
                            <br />
                            {{
                                lang == "ltr"
                                    ? "Most of Medical Specialties are available ."
                                    : "معظم التخصصات الطبية متوفرة."
                            }}
                        </p>
                        <a
                            [href]="'tel:' + setting?.phone"
                            class="default-btn"
                            >{{ setting?.phone }}</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="appointment-overview-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="make-appointment-content">
                                <h4>
                                    <i class="flaticon-170-calendar-1"></i>

                                    {{
                                        lang === "ltr"
                                            ? " Make An Appointment"
                                            : " إحجز موعد"
                                    }}
                                </h4>

                                <form [formGroup]="searchForm">
                                    <div class="form-group">
                                        <label>{{
                                            lang === "ltr"
                                                ? "  Specialty "
                                                : " التخصص "
                                        }}</label>

                                        <input
                                            [typeahead]="specialties"
                                            formControlName="specialty"
                                            [placeholder]="
                                                lang === 'ltr'
                                                    ? 'Specialty'
                                                    : 'التخصص'
                                            "
                                            [typeaheadOptionsLimit]="100"
                                            [typeaheadMinLength]="0"
                                            [optionsListTemplate]="
                                                customListTemplate
                                            "
                                            (typeaheadOnSelect)="getDoctor()"
                                            class="form-control"
                                        />
                                        <ng-template
                                            #customListTemplate
                                            let-matches="matches"
                                            let-query="query"
                                            let-typeaheadTemplateMethods
                                        >
                                            <ul class="custom-list-group">
                                                <li
                                                    class="custom-list-group-item"
                                                    *ngFor="
                                                        let match of matches
                                                    "
                                                    [class.active]="
                                                        typeaheadTemplateMethods.isActive(
                                                            match
                                                        )
                                                    "
                                                    (click)="
                                                        typeaheadTemplateMethods.selectMatch(
                                                            match,
                                                            $event
                                                        )
                                                    "
                                                    (mouseenter)="
                                                        typeaheadTemplateMethods.selectActive(
                                                            match
                                                        )
                                                    "
                                                >
                                                    <i
                                                        class="flaticon-063-stethoscope-tool"
                                                    ></i>
                                                    {{ match }}
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </div>
                                    <div class="form-group">
                                        <label>{{
                                            lang === "ltr"
                                                ? "  Doctor "
                                                : " دكتور "
                                        }}</label>
                                        <input
                                            [typeahead]="doctor"
                                            formControlName="doctor"
                                            [placeholder]="
                                                lang === 'ltr'
                                                    ? 'Doctors'
                                                    : 'الدكتور'
                                            "
                                            [optionsListTemplate]="
                                                customListTemplate
                                            "
                                            class="form-control"
                                            [typeaheadOptionsLimit]="100"
                                            [typeaheadMinLength]="0"
                                            (typeaheadOnSelect)="set()"
                                        />
                                        <ng-template
                                            #customListTemplate
                                            let-matches="matches"
                                            let-query="query"
                                            let-typeaheadTemplateMethods
                                        >
                                            <ul class="custom-list-group">
                                                <li
                                                    class="custom-list-group-item"
                                                    *ngFor="
                                                        let match of matches
                                                    "
                                                    [class.active]="
                                                        typeaheadTemplateMethods.isActive(
                                                            match
                                                        )
                                                    "
                                                    (click)="
                                                        typeaheadTemplateMethods.selectMatch(
                                                            match,
                                                            $event
                                                        )
                                                    "
                                                    (mouseenter)="
                                                        typeaheadTemplateMethods.selectActive(
                                                            match
                                                        )
                                                    "
                                                >
                                                    <i
                                                        class="flaticon-149-doctor-2"
                                                    ></i>
                                                    {{ match.name }}
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </div>
                                    <a
                                        type="button"
                                        class="default-btn"
                                        [routerLink]="[
                                            '/book-doctor',
                                            docId,
                                            searchForm.value.specialty
                                        ]"
                                    >
                                        <span>
                                            <i
                                                *ngIf="lang === 'ltr'"
                                                class="bx bx-search"
                                            ></i>
                                            <span>
                                                {{
                                                    lang === "ltr"
                                                        ? "  Search "
                                                        : " ابحث "
                                                }}
                                            </span>
                                            <i
                                                *ngIf="lang === 'rtl'"
                                                class="bx bx-search"
                                            ></i>
                                        </span>
                                    </a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content">
                                <h4>
                                    {{
                                        lang === "ltr"
                                            ? " Over 130 Qualified Consultants & Experts "
                                            : " أكثر من 130 استشاري وخبير مؤهل"
                                    }}
                                </h4>
                                <div class="box-image">
                                    <img
                                        src="https://angular.hibotheme.com/inba/inba-rtl/assets/images/appointment/appointment-2.jpg"
                                        alt="appointment-image"
                                    />
                                    <button
                                        class="video-btn"
                                        (click)="openPopup()"
                                    >
                                        <i class="bx bx-play"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="video-popup" *ngIf="isOpen">
    <div class="popup-inner">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/gRg55x-Q9oM?si=l6X4cXu4EzFvAe77"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>
        <button (click)="closePopup()" type="button" class="close-btn">
            <i class="bx bx-x"></i>
        </button>
    </div>
</div>
