<div [dir]="lang" class="blog-area pt-100 pb-75">
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr' ? 'section-title-warp' : 'section-title-warp-rtl'
            "
        >
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                {{
                    lang == "ltr"
                        ? "Update News and Blogs"
                        : "تحديث الأخبار والمدونات"
                }}
            </span>
            <h2>
                {{
                    lang == "ltr"
                        ? "Stay Updated with Our Latest News and Blog"
                        : "ابق على اطلاع بأحدث الأخبار والمدونة لدينا"
                }}
            </h2>
            <a routerLink="/blog" class="default-btn">{{
                lang == "ltr" ? "View All" : "عرض الكل"
            }}</a>
        </div>
        <div class="row justify-content-center">
            <owl-carousel-o dir="ltr" [options]="blogSlides">
                <ng-template *ngFor="let blog of blogs" carouselSlide>
                    <div [dir]="lang" class="single-blog">
                        <div class="blog-image">
                            <a
                                routerLink="/blog-details"
                                [queryParams]="{
                                    id: blog.id,
                                    title: blog.title
                                }"
                                class="d-block"
                            >
                                <img [src]="blog.image" alt="blog-image" />
                            </a>
                            <div class="date">
                                {{ blog.created_at | date : "short" }}
                            </div>
                            <!-- <div class="tag">
                            <a>Technology</a>
                        </div> -->
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a
                                    routerLink="/blog-details"
                                    [queryParams]="{
                                        id: blog.id,
                                        title: blog.title
                                    }"
                                >
                                    {{ blog.title }}
                                </a>
                            </h3>
                            <p>
                                {{ blog.body }}
                            </p>
                            <a
                                routerLink="/blog-details"
                                [queryParams]="{
                                    id: blog.id,
                                    title: blog.title
                                }"
                                class="blog-btn"
                                >{{
                                    lang == "ltr" ? "Read More" : "أقرأ المزيد"
                                }}</a
                            >
                            <ul class="entry-meta">
                                <li>
                                    <i class="bx bxs-user"></i>
                                    <span
                                        >{{ lang == "ltr" ? "By" : "بواسطة" }}
                                        <a routerLink="/blog">{{
                                            blog.name
                                        }}</a></span
                                    >
                                </li>
                                <!-- <li>
                                <i class="bx bxs-comment"></i>
                                1 Comment
                            </li> -->
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Section for Home Demo - 8 -->
<!-- <div class="hospital-blog-area pt-100 pb-75">
    <div class="container">
        <div class="section-title with-hospital-color">
            <span class="sub-title">Our Blog</span>
            <h2>Recent Articles And News</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-blog-card">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                            <img
                                src="assets/images/hospital/blog/blog1.jpg"
                                alt="image"
                            />
                        </a>
                        <div class="date">12 Nov 2023</div>
                    </div>
                    <div class="blog-content">
                        <ul class="meta">
                            <li>
                                <i class="bx bx-user"></i> By
                                <a routerLink="/blog-grid">Admin</a>
                            </li>
                            <li>
                                <i class="bx bx-message-rounded-dots"></i> No
                                Comment
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                It Is Very Important To Wear Proper Clothing To
                                Keep
                            </a>
                        </h3>
                        <a routerLink="/blog-details" class="blog-btn"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-blog-card">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                            <img
                                src="assets/images/hospital/blog/blog2.jpg"
                                alt="image"
                            />
                        </a>
                        <div class="date">11 Nov 2023</div>
                    </div>
                    <div class="blog-content">
                        <ul class="meta">
                            <li>
                                <i class="bx bx-user"></i> By
                                <a routerLink="/blog-grid">Admin</a>
                            </li>
                            <li>
                                <i class="bx bx-message-rounded-dots"></i> No
                                Comment
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                In This Hospital There Special Surgeon Here Now
                            </a>
                        </h3>
                        <a routerLink="/blog-details" class="blog-btn"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-blog-card">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                            <img
                                src="assets/images/hospital/blog/blog3.jpg"
                                alt="image"
                            />
                        </a>
                        <div class="date">10 Nov 2023</div>
                    </div>
                    <div class="blog-content">
                        <ul class="meta">
                            <li>
                                <i class="bx bx-user"></i> By
                                <a routerLink="/blog-grid">Admin</a>
                            </li>
                            <li>
                                <i class="bx bx-message-rounded-dots"></i> No
                                Comment
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                Transplantation Techniques & Heart Surgery
                            </a>
                        </h3>
                        <a routerLink="/blog-details" class="blog-btn"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
