<!-- Default Feedback Section -->
<div class="review-area bg-f5f5f5 ptb-100" [dir]="lang">
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr' ? 'section-title-warp' : 'section-title-warp-rtl'
            "
        >
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                {{ lang === "ltr" ? "Patient Feedback" : " ملاحظات المريض " }}
            </span>
            <h2>
                {{
                    lang === "ltr"
                        ? "Real Review From Our Patient"
                        : " مراجعة حقيقية من مرضانا  "
                }}
            </h2>
            <!-- <a routerLink="/testimonials" class="default-btn">
                {{ lang === "ltr" ? " View All " : " عرض الكل " }}
            </a> -->
        </div>
        <div class="review-slides">
            <owl-carousel-o dir="ltr" [options]="feedbackSlides">
                <ng-template *ngFor="let item of feedback" carouselSlide>
                    <div
                        [dir]="lang"
                        [ngClass]="
                            lang === 'ltr'
                                ? 'single-review-item'
                                : 'single-review-item-rtl'
                        "
                    >
                        <div class="icon">
                            <i class="flaticon-034-left-quote-1"></i>
                        </div>
                        <img [src]="item.image" alt="" />
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
