<footer [dir]="lang" class="footer-area pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'single-footer-widget'
                            : 'single-footer-widget-rtl'
                    "
                >
                    <h2>
                        <a routerLink="/">
                            <img [src]="setting?.footerLogo" alt="" />
                        </a>
                    </h2>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-sm-6 menu">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'single-footer-widget'
                            : 'single-footer-widget-rtl'
                    "
                    class="ps-5"
                >
                    <h3>{{ lang === "ltr" ? "Menu" : "الاسم" }}</h3>
                    <ul class="quick-links">
                        <li>
                            <a routerLink="/">
                                {{ lang === "ltr" ? "Home" : " الرئيسيه " }}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/medical-centers">
                                {{
                                    lang === "ltr"
                                        ? "Medical Centers"
                                        : " المراكز المتخصصة"
                                }}
                            </a>
                        </li>
                        <li class="">
                            <a routerLink="/clinics">
                                {{ lang === "ltr" ? "Clinics" : " العيادات " }}
                            </a>
                        </li>
                        <li class="">
                            <a routerLink="/dental-clinics">
                                {{
                                    lang === "ltr"
                                        ? "Dental Clinics"
                                        : " عيادات الأسنان "
                                }}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/medical-tourism">
                                {{
                                    lang === "ltr"
                                        ? " Medical Tourism & Visiting Doctor "
                                        : " السياحة العلاجية وزيارات الأطباء  "
                                }}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/about-us">
                                {{ lang === "ltr" ? "About Us" : "من نحن " }}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact-us">
                                {{
                                    lang === "ltr"
                                        ? "Contact us"
                                        : " تواصل معنا "
                                }}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/career">
                                {{ lang === "ltr" ? "Career" : " الوظائف " }}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/media">
                                {{ lang === "ltr" ? "Media" : " التسويق " }}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/blog">
                                {{ lang === "ltr" ? "Blog" : "المقالات" }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'single-footer-widget'
                            : 'single-footer-widget-rtl'
                    "
                >
                    <h3>{{ lang === "ltr" ? "Services " : "خدمات" }}</h3>
                    <div class="footer-widget-blog">
                        <article *ngFor="let ser of service" class="item">
                            <a class="thumb">
                                <span
                                    class="fullimage"
                                    role="img"
                                    [style.background-image]="
                                        'url(' + ser.icon + ')'
                                    "
                                ></span>
                            </a>
                            <div class="info">
                                <!-- <span
                                    >{{ lang === "ltr" ? "By " : " بواسطة" }}
                                    <a >{{
                                        lang === "ltr"
                                            ? "Daisy Gabriela"
                                            : "تامر مصطفى "
                                    }}</a></span
                                > -->
                                <h4>
                                    <a>{{ ser.name }}</a>
                                </h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'single-footer-widget'
                            : 'single-footer-widget-rtl'
                    "
                >
                    <h3>
                        {{
                            lang === "ltr"
                                ? "Contact Information"
                                : "بيانات الاتصال"
                        }}
                    </h3>
                    <ul class="footer-information">
                        <li>
                            <i class="flaticon-039-emergency-call"></i>
                            {{ lang === "ltr" ? "Call Today" : " اتصل اليوم " }}
                            <span
                                ><a href="tel:16670">{{
                                    setting?.phone
                                }}</a></span
                            >
                        </li>
                        <li>
                            <i class="flaticon-040-back-in-time"></i>
                            {{ lang === "ltr" ? "WhatsApp" : "الواتساب" }}
                            <span>
                                <a [href]="setting?.whatsAppLink">{{
                                    setting?.whatsApp
                                }}</a>
                            </span>
                        </li>
                        <li>
                            <i class="flaticon-041-placeholder"></i>
                            {{ lang === "ltr" ? "Our Location" : "عنوانا" }}
                            <span>
                                <a [href]="setting?.location">
                                    {{ setting?.address }}
                                </a></span
                            >
                        </li>
                        <li class="social">
                            <a [href]="setting?.facebook" target="_blank">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a [href]="setting?.youtube" target="_blank">
                                <i class="bx bxl-youtube"></i>
                            </a>
                            <a [href]="setting?.linkedin" target="_blank">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                            <a [href]="setting?.instagram" target="_blank">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <p>
                <a href="https://axonbi.com/" target="_blank">
                    {{
                        lang === "ltr"
                            ? "Proudly Powered by Axon inc"
                            : " مدعوم بفخر من أكسون "
                    }}</a
                >
                {{
                    lang === "ltr"
                        ? " | © All rights reserved Rouvan Hospital 2023"
                        : " | © جميع الحقوق محفوظة لمستشفى روفان ٢٠٢٣"
                }}
            </p>
        </div>
    </div>
</div>
