<!-- Default Features Section -->
<div
    [dir]="lang"
    class="core-features-area pt-100 pb-75 bg-eef9ff"
    [ngClass]="{
        'd-none':
            router.url === '/index-2' ||
            router.url === '/index-4' ||
            router.url === '/index-5' ||
            router.url === '/index-6' ||
            router.url === '/index-7' ||
            router.url === '/appointment' ||
            router.url === '/about-us' ||
            router.url === '/about-us-2' ||
            router.url === '/about-us-3'
    }"
>
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr' ? 'section-title-warp' : 'section-title-warp-rtl'
            "
        >
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                {{
                    lang === "ltr"
                        ? "  Specialty and Our Features "
                        : " التخصص وميزاتنا "
                }}
            </span>
            <h2>
                {{
                    lang === "ltr"
                        ? " Features That You Will Love Us "
                        : "  تخصصات طبية"
                }}
            </h2>
        </div>
        <div class="row justify-content-center">
            <div
                class="col-xl-3 col-lg-6 col-sm-6"
                *ngFor="let item of specialties"
            >
                <div class="single-core-features">
                    <div class="icon">
                        <img [src]="item.image" alt="icon" />
                    </div>
                    <h3>
                        <a> {{ item.specialty }}</a>
                    </h3>
                    <!-- <p>
                        {{
                            lang === "ltr"
                                ? item.descriptionEn
                                : item.descriptionAr
                        }}
                    </p> -->
                </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <span class="prev page-numbers" disabled>
                        <i class="flaticon-015-left-arrow"></i>
                    </span>
                    <span
                        *ngFor="let p of page"
                        [ngClass]="p == currentPage ? 'current' : ''"
                        class="page-numbers"
                        aria-current="page"
                        (click)="getSpecialties(p)"
                    >
                        {{ p }}
                    </span>

                    <a class="next page-numbers">
                        <i class="flaticon-014-right-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
